.Articles {
  grid-area: articles;
  background-color:rgb(215, 216, 219);
  justify-content: center;
  align-items: center;
  margin: 1vh;
  height: 80vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  border-radius: 1em;
}

.Link {
  text-decoration: none;
  color: blue
}

.Article {
  grid-area: article;
  display: grid;
  height: 80vh;
  margin: 1vh;
  grid-template-areas:
    "thearticle comments";
}

.theArticle {
  grid-area: thearticle;
  justify-content: center;
  height: 79vh;
  width: 45vw;
  align-content: center;
  flex-wrap: wrap;
}

.Comments {
  grid-area: comments;
  display: flex;
  height: 79vh;
  overflow-y: scroll;
  margin: 0 0 0 0.5vw;
}


