.main-body {
  grid-area: main-body;
  display: grid;
  grid-template-areas: "articles";
  grid-template-columns: 1fr;
}

.all-articles {
  grid-area: articles;
  height: 100%;
  overflow: hidden
}

.fixed_header {
  table-layout: fixed;
  width: 100%;
  border-spacing: 2.5vw 0;
  
}

.fixed_header tbody {
  display: block;
  overflow: auto;
  height: 65vh;
  padding: 0vw 0vw 0vw 8vw;
}

.fixed_header thead tr {
  display: block;
}

.fixed_header thead {
  color: #fff;
}

.fixed_header th {
  text-align: left;
  padding: 0vw 0vw 0vw 8vw;
}

.article-link {
  text-decoration: none;
  color: blue;
  display: inline-block;
  width: 90%;
  margin: 1vh;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 0.5em;
}

.comment-number {
  color: blue;
  padding: 0vw 0vw 0vw 3vw;
}

.article {
  grid-area: article;
  display: grid;
  grid-template-areas:
    "thearticlehead thearticlehead"
    "thearticle comments";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 9fr;
}

.the-article {
  grid-area: thearticle;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.the-article-head {
  grid-area: thearticlehead;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.comments {
  grid-area: comments;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
