.Articles {
  grid-area: articles;
  background-color:rgb(215, 216, 219);
  justify-content: center;
  align-items: center;
  margin: 1vh;
  height: 80vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  border-radius: 1em;
}

.Link {
  text-decoration: none;
  color: blue
}

.Article {
  grid-area: article;
  display: grid;
  height: 80vh;
  margin: 0.5vh;
  grid-template-areas:
    "thearticlehead thearticlehead"
    "thearticle comments";
  grid-template-columns: 45vw 23vw;
  grid-template-rows: 1fr 9fr
}

.theArticle {
  grid-area: thearticle;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.theArticleHead {
  grid-area: thearticlehead;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.Comments {
  grid-area: comments;
  display: grid;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin: 0 0 0 0.5vw;
}
