.Login {
  background-color: #1a0e529d;
  width: 30vw;
  height: 30vw;
  margin: 10vh;
  grid-area: articles;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logout {
  grid-area: logout;
  background-color: #282c34;
  color:rgb(248, 248, 248);
  border: 1pt solid black;
  text-align: center;
  text-justify: center;
}
