.Nav {
  grid-area: nav;
  background-color:rgb(215, 216, 219);
  justify-content: center;
  align-items: center;
  margin: 1vh 1vh 1vh 1vh;
  height: 2.5em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.Link {
  margin: 0em 0.5em;
  text-decoration: none;
  color: blue
}
