body {
  margin: 0px;
}

.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "logout header header"
    "nav articles article"
    "foot foot foot";
  grid-template-columns: 0.5fr 2fr 6fr;
  grid-template-rows: 1fr 8fr 1fr;
  background-color: rgb(141, 141, 141);
}
